# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual environments
.venv/
env/

# Environment variables / secrets
.env
.env.*

# Frontend
node_modules/

# OS
.DS_Store

# data
data/metadata.pkl

# best model
best_model.pth

# test image
test.jpg